* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #1C8394, #154B52);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 2%;
    box-shadow: 5px 5px 15px #000b0d7a;
}

h1 {
    color: #6d1803;
    text-align: center;
    text-shadow: 1px 1px 2px #410f02b2;
}

h2 {
    color: #A52502;
}

p {
    text-align: justify;
}